#layoutSidenav_content{
    background-color: #ffffff;
}
#content_HD{
    position: absolute;
    top: 50px;
    margin: 20px 5%;
}
/* 
.trangthai_DH{
    position: absolute;
    top: 50px;
    right: -90%;
} */

#table_SP{
    position: absolute;
    top:195px;
    margin: 20px 5%;
    width: 70%;
}

.hinhanhSP {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.hinhanhSP tbody tr td{
    vertical-align: middle;
}

#btn_inHD{
    width: 100px;
}