*{
    font-family: 'Varela Round', sans-serif;
    margin: O auto;
    
}

body{
    background: #ffffff;
}

/* fixel header */
#site-header{
    top: 0;
    width: 100%;
    height: 110px;
    position: sticky;
    transition: all .3s ease;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px #ccc;
}
/* css for header hiding and showing */
#site-header.hide{
    top: -117px;
}

.img_logo_header{
    width: 80%;
    height: 60%;
    object-fit: cover;
}

.container_input span{
    border-radius: 30px;
}

.container_input input{
    border-radius: 30px;
}
/* button category */
#listview-category {
    display: none;
    position: relative;
    top: -25px; 
}


#listview-category .iconify.ml-2.mr-5{
    color: #e94560;
}
#listview-category  li:hover .iconify.ml-2.mr-5{
    color: #ffffff;
}
#listview-category  li:hover{
    color: #ffffff;
}
#listview-category  li:hover{
    background-color: #e6a7ad;
    opacity: 1;
}

/* button for user */

/* user btn */
#btn-cart , #btn-user02{
    width: 45px;
    height: 45px;

}
.btn_cart , .btn_user{
    background-color: #DF2F4C;
}

#listview-user{
    display: none;
    justify-content: end;
}
#listview-user{
    position: relative;
    margin-top: -20px;
    top: -45px;
    right: -39%;
}
#listview-user li{
   
    background: #ffffff;
    color: #dc3545;
    border: 0.2px solid #dc3545;
}
#listview-user li:hover{
    background: #fde4e4;
    color: #dc3545;
}
@media only screen and (max-width: 587px) {
    .search_bar{
        display: none;
    }
    .container-fluid.header .row{
        display: flex;
    }
}
@media only screen and (max-width: 600px) {
    .search_bar{
        display: none;
    }
    .container-fluid.header .row{
        display: flex;
    }
    #listview-user{
        position: relative;
        margin-top: -20px;
        top: -30px;
        right: -30%;
    }
}

@media only screen and (max-width: 767px) {
    
    #listview-user{
        position: relative;
        margin-top: -20px;
        top: -10px;
        right: -35%;
    }
}

/* menu header */
.container_menu_header ul li{
    list-style-type: none;
}

.container_menu_header{
    padding-bottom: 20px;
}


/* Part 2.2.1: Service-left */
.left-service{
    margin-top: 30px;
    width: 320px;
    height: auto;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: -1px -1px 2px 1px #ccc;

}.left-service li{
    color: #464444;
    background-color: transparent;
}
.left-service li .iconify.ml-2.mr-5{
    color: #464444;
}
.left-service li:hover .iconify.ml-2.mr-5{
    color: #dc3545;
}
.left-service li:hover   {
    background-color: #ffdce0;
    color: #dc3545;
}



/* Right */
/* title and button */
.right_service{
    width: 800px;
    margin-top: 30px;
    margin-left: 15px;
    background: #ffffff;
    border-radius: 5px;
}
.my-profile{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;

}
.my-profile button{
    /* height: 100%; */
    padding: 10px 30px;
    margin-top: 20px;
    margin-right: 20px;
}
.my-profile-heading{
    color: #DF2F4C;
    justify-content: center;
    align-items: center;
}
.my-profile-heading span{
    width: 50px;
    height: 50px;
}
.my-profile-heading h1 {
    margin: 5px 0 0 10px;
    color: #DF2F4C;
}


/*  Item 1 profile-personal */

.profile-personal{
    display: flex;
    width: 100%;
    margin: 30px 0 0 20px;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow:  -1px -1px 1px #ccc, 1px 1px 1px #ccc;
}
.personal-avt{
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 20px;
}
.personal-avt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Item 2 profile-personal-name */
.profile-personal-name{
    width: 100%;
    margin: 30px 0 0 20px;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow:  -1px -1px 1px #ccc, 1px 1px 1px #ccc;
}
.personal-name-tilte, .personal-name-item{
    margin-left: 50px;
    margin-right: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    
}
.personal-name-tilte{
    color: #5555;
}
.personal-name-tilte p, .personal-name-item p {
    width: 20%;
}

/* Item 3 */
.profile-personal-adress{
    width: 100%;
    margin: 30px 0 0 20px;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow:  -1px -1px 1px #ccc, 1px 1px 1px #ccc;
}
.personal-adress-tilte, .personal-adress-item{
    margin-left: 50px;
    margin-right: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    
}
.personal-adress-tilte{
    color: #5555;
}
.personal-adress-tilte p, .personal-adress-item p {
    width: 40%;
}


/* Reponsive content */
/* Tablet and mobile */
@media only screen and (max-width: 1200px){
    .left-service{
        display: none;
    }
    .right_service{
        width: 100%;
        margin-left: 0;
    }
    .my-profile-heading .iconify{
        width: 30px;
        height: 30px;
    }
    .my-profile-heading h1 {
        font-size: 25px;
    }
    .my-profile button{
        padding: 5px 30px;
        margin-top: 10px;
    }
    .personal-information{
        font-size: 14px;
    }
    
    /* mobile */
}
@media only screen and (max-width: 740px) {
    .profile-personal-name,  .profile-personal-adress{
        font-size: 14px;
        display: flex;
    }
    .personal-name-tilte, .personal-name-item, .personal-adress-tilte, .personal-adress-item {
        display: block;
        width: 50%;
        margin-left: 0;
    }
    .personal-name-tilte p , .personal-name-item p, .personal-adress-tilte p, .personal-adress-item p{
        width: 100%;
        height: 40px;
        
    }
}


/* Footer */
.container-fluid.footer{
    margin: auto;
    background-color: #0F3460;
}
.row.row_footer{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center; */
}
.frame{
    height: 100%;
    width: 80%;
}
.logo_footer{
    width: 80%;
    height: 180px;
    
}
.text-uppercase{
    margin-top: 20px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 20px;
}
.text_reset{
    font-family: 'Varela Round', sans-serif;
    color: #AEB4BE !important;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}
.footer_icon{
    height: 20px;
    margin-bottom: 20px;
}
.footer_icon a, .footer_icon a:hover  {
  text-decoration: none;
}
.footer_icon .iconify{
    margin-right: 20px;
    width: 20px;
    height: 20px;
    color: white !important;
}
.footer_icon .iconify:hover{
    opacity: 0.6;
}

.contract, .aboutus, .image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 991px) {
    .category-list-col{
        margin : 7px 0;
    }
    .category-list-row{
        margin-top: 0px;
    }
    .contract, .aboutus{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .image {
        display: none;
    }

  }