*{
  font-family: 'Varela Round', sans-serif;
  margin: O auto;
  
}

body{
  background: #ffffff;
  height: 1000px;
}

/* Part 1: Header */
.header{
  height: 50px;
  background: #ffe923;
  display: flex;
  justify-content: space-around;
  z-index: 9999;
}

.header .menu-header ul a{
  text-decoration: none;
}
.header .menu-header ul li{
  background: #ffe923;
  border: none;
  font-weight: 100;
  color: #216e38;
}

/* menu header */
.dropdown_menu_sanpham{
  position: relative;
  display: inline-block;
}

.dropdown_menu_sanpham_content{
  display: none;
position: absolute;
background-color: #ffffff;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 99999;
}

.dropdown_menu_sanpham:hover .dropdown_menu_sanpham_content {
  display: block;
}

.dropdown_menu_sanpham:hover .dropdown_menu_sanpham_content .text_content{
  color: #216e38;
}

.dropdown_menu_sanpham:hover .dropdown_menu_sanpham_content p:hover .text_content{
  font-size: 17px;
  color: #b6b398;
  font-weight: bolder;

}
/* input search */
.header .input-search{
  position: relative;
  margin-left: 60px;
}

.header .input-search .input-group.search{
  overflow: hidden;
   border: 1.2px solid #216e38; 
   background-color: #ffffff; 
   border-radius: 30px;
   
}

.header .input-search .input-group.search .form-control{
  background: white;
}

.header .btn_user{
  position: relative;
  left: -30px;
  top: 5px;
}
.banner{
    
  height: 300px;
  position: relative;
}

.banner img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.parth_content{
 margin-left: 38%;
  position: absolute;
  bottom: 30px; 
  color: #216e38;
  font-weight: bolder;
}

.parth_content h4{
  display: flex;
  justify-content: center;
}

.parth_content a{
  text-decoration: none;
  color: #2e2d27;
}

/* Slide sản phẩm */
/* abc xyz */

.container.profile-product {
  width: 100%;
  margin-left: 0px;
  position: relative;
  left: 3%;
}

.container.profile-product .slide-left{
  width: 35%;
  border: #216e38 1px solid;
  border-radius: 5%;
  background-color: #ffffff;
}

.path :first-child {
  color: var(--0-color-button);
}

.path {
  font-size: 20px;
}

/* Silde */
.container.profile-product {
  margin-top: 50px;
  padding: 30px;
  background-color: #ffffff;
  height: 350px;
}
.carousel-item .active image {
  height: 300px;
  object-fit: cover;
}

.carousel-indicators li {
  width: 90px;
}
.carousel-indicators li img {
  width: auto;
  object-fit: cover;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-indicators li img {
  border-radius: 10px;
}

.container.profile-product .carousel-inner img{
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.heart_btn {
  
}

/* bên phải */
.content_right{
  height: 300px;
  background-color: #ffffff;
  width: 45%;
  border-radius: 20px;
  /* border: solid 1px #216e38; */
}

.content_right .tenSP{
 font-size: 25px;
 color: #216e38;
}

.content_right .motaSP{
  width: 100%;
  height: 80px;
}

.giaSP {
  color: red;
  font-size: 18px;
  font-weight: 600;
}

.trongLuong {
  display: flex;
  justify-content: center;
  font-size: 17px;
  /* height: 40px; */
  width: 130px;
  border: 1px solid #216e38;
  border-radius: 20px;
}

.trongLuong .btnDau{
  width: 30px;
  height: 30px;
  background: transparent;
}

.input_trongLuong{
  width: 50px;
  border: none;
  text-align: center;
}

.btn_themGioHang button{
 border: 1px solid #ffcd4e;
 background-color: #ffcd4e;
 color: #216e38;
 border-radius: 20px;
}

/* Footer */
/* Part 10: */
.container-fluid.img_banner_beforeFooter {
  position: relative;
  top: 570px;
  width: 100%;
  height: 300px;
}

.container-fluid.img_banner_beforeFooter img{
  width: 100%;
  height: 100%;
  /* border-radius: 5%; */
  object-fit: fill;
}

/* Part 11:  */

.container-fluid.tintuc{
  position: relative;
  top: 600px;
}

/* card tin tuwcs */

.container-fluid.tintuc .col-3{
  position: relative;
}

.row.tintuc .col-3 .card_tintuc{
  position: relative;
  width: 290px;
  height: 290px;
  /* background-color: #b6b398; */
  font-size: 15px;
}


.row.tintuc .col-3 .card_tintuc img{  
  width: 290px;
  height: 290px;
  object-fit: cover;
  opacity: 1;
  filter: contrast(150%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform .9s;
}
.row.tintuc .col-3 .card_tintuc img:hover{
  transform: scale(1.03);
  opacity: 0.9;
}

.row.tintuc a{
  text-decoration: none;
  color: #28a745;
}

.row.tintuc a b{
  width: 100%;
  white-space: pre-wrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
   display: -webkit-box;
}

.row.tintuc .col-3 .card_tintuc .card-text{
  position: absolute;
 margin: 0 2px;
  width: 100%;
  top: 230px;
  opacity: 1;
  z-index: 999;
}

/* Part 2.3 */
/* Part 2.2.2: Card-product-right */ 
.card_product_right{
  
  border-top: 1px #ada0a2 solid;
  margin: 0 auto;
  font-size: 15px;
  width: 100%;
  position: relative;
  top: 200px;
  justify-content: center;
}

.card_product_right .product .col-3{
  width: 270px;
  height: 300px;
  padding: 0px 3px;
  margin: 10px 0px;
}

.card_product_right .product .col-3.card_product .card{
  /* background-color: rgb(141, 119, 119); */
  width: 90%;
  height: 100%;
  padding: 0px 10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.card_product_right .product .col-3.card_product .card .card-body .name_product a{
  text-decoration: none;
  color: #216e38;
  font-size: 20px;
  font-weight: bold;
}

.card_product_right .product .col-3.card_product .card .card-body .text_price{
  position: absolute;
  bottom: 10px;
  display: flex;
  margin: 0 15%;
  /* justify-content: center; */
  color: #c52641;
  font-size: 15px;
}

/* style css for middle hover */

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.middle  .middle_cart {
  background-color: transparent;
  border: none;
 
  padding: 0px 0px;
  border-radius: 5%;
}

.card_product_right .product .col-3.card_product .card img{
  width: 95%;
  height: 190px;
  object-fit:contain;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.card_product_right .product .col-3.card_product .card:hover img {
  opacity: 0.5;
}
.card_product_right .product .col-3.card_product .card:hover .middle {
  opacity: 1;
}

/* style for input heart */

.card_product_right .product .col-3.card_product .middle.d-flex input{
  display: none;
}

.card_product_right .product .col-3.card_product .middle.d-flex label{
  transition: all 0.2s ease;
  color: #b6b398;
  }

.card_product_right .product .col-3.card_product .middle.d-flex input:not(:checked) ~ label:hover,
.card_product_right .product .col-3.card_product .middle.d-flex input:not(:checked) ~ label:hover ~ label
{
    color: rgb(197, 0, 43);
}
.card_product_right .product .col-3.card_product .middle.d-flex input:checked ~ label{
    color: rgb(197, 0, 43);
}





/* Part 12 */

/* Footer */
.container-fluid.footer{
  position: relative;
  top: 250px;
  margin: auto;
  background-color: hsl(50,99%,53%);
  color: #216e38;
}
.row.row_footer{
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.frame{
  height: 100%;
  width: 80%;
}
.frame a{
  color: #216e38;
  text-decoration: none;
}
.logo_footer{
  width: 60%;
  height: 150px;
  object-fit: contain;
}
.text-uppercase{
  margin-top: 20px;
  font-family: 'Varela Round', sans-serif;
  /* color: white; */
  font-size: 20px;
}
.text_reset{
  font-family: 'Varela Round', sans-serif;
  /* color: #AEB4BE !important; */
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}
.footer_icon{
  height: 20px;
  margin-bottom: 20px;
}
.footer_icon a, .footer_icon a:hover  {
text-decoration: none;
color: #216e38;
}
.footer_icon .iconify{
  margin-right: 20px;
  width: 20px;
  height: 20px;
  /* color: white !important; */
}
.footer_icon .iconify:hover{
  opacity: 0.6;
}

.contract, .aboutus, .image{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .category-list-col{
      margin : 7px 0;
  }
  .category-list-row{
      margin-top: 0px;
  }
  .contract, .aboutus{
      display: flex;
      flex-direction: column;
      align-items:center;
  }
  .image {
      display: none;
  }
}







































:root {
  --0-color-button: #ada0a2;
  --color-gray: #7a7873;
  --color-star: #ffcd4e;
}

.button_of_this_page {
  box-shadow: 0px 0px 12px -5px #000000;
  border-radius: 9px;
  font-size: 20px;
  color: white;
  background-color: var(--0-color-button);
}

.color-gray {
  color: var(--color-gray);
}

.color-buttom {
  color: var(--0-color-button);
}

/* font-size */

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.mg_top_50 {
  margin-top: 50px;
}

.mg_top_40 {
  margin-top: 40px;
}

.mg_top_30 {
  margin-top: 30px;
}

.mg_top_20 {
  margin-top: 20px;
}

.mg_top_10 {
  margin-top: 10px;
}

/* Text */

.text_bold {
  font-weight: bold;
}

/* abc xyz */

.container-profile-voucher {
  width: 89%;
  margin: auto;
}

.path :first-child {
  color: var(--0-color-button);
}

.path {
  font-size: 20px;
}

/* Silde */
.slide-left {
  padding: 30px;
  background-color: white;
  height: 450px;
}
.carousel-item .active image {
  height: 336px;
  object-fit: cover;
}

.carousel-indicators li {
  width: 90px;
}
.carousel-indicators li img {
  width: 70px;
  height: 60px;
  object-fit: contain;
  border: 1px solid #216e38;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-indicators li img {
  border-radius: 10px;
}

/* DETAIL */

#store_name {
  font-size: 17px;
  font-weight: bold;
}

#unit_price {
  font-size: 25px;
  color: var(--0-color-button);
}

#rated {
  margin-top: 30px;
}

#rated > div {
  width: 100%;
  padding: px;
  background-color: white;
  border-radius: 4px;
}

#overall_review {
  padding: 30px;
  width: 92%;
  background-color: #fbf3ee;
  border-radius: 10px;
  border: #df2f4c 1px solid;
  margin: auto;
  margin-top: 20px;
}

#overall_review .col-left {
  width: 100%;
  font-size: 34px;
  color: #df2f4c;
  display: inline;
}

#list-star-rated {
  display: inline-block;
}

#list-star-rated #stars {
  display: inline-block;
  color: var(--color-star);
}

#emaining_amount {
  font-size: 17px;
  margin-left: 20px;
}

.date-time {
  margin-left: 15px;
  font-size: 18px;
}

#button_add_cart {
  margin-top: 50px;
  width: 130px;
  font-size: 15px;
  height: 45px;
}

.btn_sl {
  border-radius: 0px;
  border: 1px solid #c4c4c4;
  width: 35px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 4px;
}

#tru {
  margin-left: -5px;
}

#inout_quantity {
  margin-left: -5px;
  margin-top: 5px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  width: 52px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 4px;
}

/* Descriptsion */
#container_des {
  background-color: white;
  margin-top: 20px;
}

#see_more {
  font-size: 16px;
  width: 150px;
  height: 45px;
}
.center {
  width: 211px;
  height: auto;
  margin: auto;
}

#detail {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  display: block;
}

#detail-description {
  margin-top: 20px;
  border: #df2f4c 1px solid;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
}

#detail-description .event:first-child {
  font-size: 24px;
  color: #df2f4c;
  font-weight: bold;
}
#detail label {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

/* Rating */
.col-left b {
  color: #ffcd4e;
  font-size: 24px;
}
.col-right button {
  margin: 10px;
  color: #df2f4c;
  background-color: white;
  width: 100px;
  height: 40px;
  font-size: 18px;
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  #dropdown {
    display: block;
  }
}

/* short-description */

.short-description {
  padding-top: 15px;
  padding-left: 5%;
}
#description {
  width: 100%;
  padding-left: 30px;
  padding-bottom: 20px;
}

.btn:hover {
  color: white;
}

/* COMMENT */
#comment {
  width: 100%;
}
#comment > div {
  width: 92%;
  margin: auto;
}
.item-comment {
  margin-top: 25px;
}
.user-name {
  height: 30px;
  display: inline-block;
}

.rounded-circle {
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
}

.user-name .name {
  margin-left: 10px;
  display: inline-block;
  height: 30px;
  width: 100px;
  position: relative;
}
.name label {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: bold;
}

.rated_by_users {
  margin-left: 40px;
}
.rated_by_users > label :first-child {
  color: #ffcd4e;
}
.date_rate {
  margin-top: 25px;
  font-size: 13px;
  color: #616161;
}
.box-around {
  width: 92%;
  margin: auto;
}

